@font-face {
    font-family: "Cuprum";
    src: url("../fonts/cuprum/cuprum.woff"), url("../fonts/cuprum/cuprum.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CuprumBold";
    src: url("../fonts/cuprum/cuprumbold.woff"), url("../fonts/cuprum/cuprumbold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "CuprumItalic";
    src: url("../fonts/cuprum/cuprumitalic.woff"), url("../fonts/cuprum/cuprumitalic.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PTSans";
    src: url("../fonts/ptsans/ptsans.woff"), url("../fonts/ptsans/ptsans.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/ptsans/ptsansbold.woff"), url("../fonts/ptsans/ptsansbold.woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding-top: 11px;
    padding-right: 45px;
    padding-bottom: 9px;
    padding-left: 45px;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: #ee3643;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn:hover:not(.btn-price):not(.banner-btn):not(.btn-white),
.btn:focus:not(.btn-price):not(.banner-btn):not(.btn-white) {
    background-color: #ca2c37;
}

.btn:active:not(.btn-price):not(.banner-btn):not(.btn-white) {
    background-color: #ba2732;
}

.header {
    margin-bottom: 59px;
    background-color: #f4f7f9;
}

.header.inner {
    margin-bottom: 20px;
}

.top-header {
    margin-bottom: 46px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;

    background-color: #293449;
}

.top-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.top-header a {
    position: relative;
    display: block;
    color: #ffffff;
    width: 150px;
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 10px;
    padding-left: 41px;
    background-color: #293449;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.top-header a:hover:not(.basket-full):not(.checkout):not(.logo),
.top-header a:focus:not(.basket-full):not(.checkout):not(.logo){
    background-color: #212a3a;
}

.top-header a:active:not(.basket-full):not(.checkout):not(.logo) {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.top-header .basket-full {
    background-color: #ee3643;
}

/*пока решила оставить лого в таком виде, чтобы было проще прописать его поведение при состояниях*/

.top-header .logo {
    display: inline-block;
    vertical-align: top;
    width: 223px;
    padding-top: 13px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 8px;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b72f38;
    box-shadow: 0 5px 0 0 #b72f38;
}

.top-header .logo:hover,
.top-header .logo:focus {
    background-color: #ca2c37;
}

.top-header .logo:active {
    background-color: #ba2732;
}

.search-form {
    position: relative;
    width: 282px;
}

.icon-search {
    position: absolute;
    top: 13px;
    left: 17px;
    fill: rgba(255, 255, 255, 0.3);
}

.search-form .search {
    width: 100%;
    padding-top: 11px;
    padding-left: 49px;
    padding-bottom: 12px;
    padding-right: 17px;
    color: #000000;
    border: none;
    background-color: #293449;
}

.search-form .search:hover {
    background-color: #212a3a;
}

.search:hover + .icon-search {
    fill: #ffffff;
}

.search-form .search::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form .search::-moz-placeholder {
    color: #ffffff;
}

.search-form .search:-ms-input-placeholder {
    color: #ffffff;
}

.search-form .search:focus {
    background-color: #ffffff;
}

.search:focus + .icon-search {
    fill: #ee3643;
}

.top-header .basket {
    padding-left: 48px;
}

.top-header .markers::before,
.top-header .basket::before {
    position: absolute;
    top: 12px;
    left: 13px;
    opacity: 0.3;
}

.top-header .markers::before {
    content: url("../img/icon-bookmark.svg");
}

.top-header .basket::before {
    content: url("../img/cart-icon.svg");
    left: 17px;
}

.markers:hover::before,
.markers:focus::before,
.basket:hover::before,
.basket:focus::before {
    opacity: 1;
}

.markers:active::before,
.basket:active::before {
    opacity: 0.5;
}

.top-header .checkout {
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 19px;
    width: 154px;
    color: #ffffff;
    text-align: center;
    background-color: #63a63e;
}

.top-header .checkout:hover,
.top-header .checkout:focus {
    color: #ffffff;
    background-color: #5fbb2d;
}

.top-header .checkout:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.bottom-header {
    padding-bottom: 60px;
}

.bottom-header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 39px;
}

.main-title {
    margin: 0;
    margin-top: 3px;
    margin-left: 52px;
    margin-right: 7px;
    width: 192px;
    font-family: "CuprumItalic", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: #ee3643;
}

.header.inner .main-title {
    margin-right: 25px;
}

.header-contacts {
    width: 270px;
}

.header-contacts .header-phone {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-right: 49px;
    padding-bottom: 8px;
    padding-left: 70px;
    margin-bottom: 4px;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.header-phone::before {
    content: url("../img/icon-phone.svg");
    position: absolute;
    top: 10px;
    left: 12px;
}

.header-contacts .header-address {
    margin: 0;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
}

.user-menu .user-menu-link {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 23px;
    margin-right: 10px;
    color: #000000;
    background-color: #ffffff;
}

.user-menu-item:last-child .user-menu-link {
    margin-right: 0;
}

.user-menu .user-menu-link.icon {
    padding-left: 47px;
    padding-right: 27px;
}

.user-menu-link.icon::before {
    content: url("../img/icon-login.svg");
    position: absolute;
    top: 14px;
    left: 14px;
    opacity: 0.4;
}

.user-menu .user-menu-link:hover,
.user-menu .user-menu-link:focus {
    color: #ee3643;
}

.user-menu-link.icon:hover::before,
.user-menu-link.icon:focus::before {
    opacity: 1;
}

.user-menu .user-menu-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-menu-link.icon:active::before {
    opacity: 0.4;
}

.user-cabinet-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.user-cabinet .user-name,
.user-cabinet .user-out {
    display: block;
    position: relative;
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

.user-cabinet .user-name {
    padding-top: 11px;
    padding-right: 26px;
    padding-left: 45px;
}

.user-cabinet .user-out {
    padding-right: 10px;
    padding-left: 10px;
}

.user-name::before {
    content: url("../img/icon-user.svg");
    position: absolute;
    top: 11px;
    left: 12px;
    opacity: 0.4;
}

.user-out::before {
    content: url("../img/icon-logout.svg");
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.user-name:hover::before,
.user-out:hover::before {
    opacity: 1;
}

.user-cabinet .user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-name:active::before,
.user-out:active::before {
    opacity: 0.4;
}

.user-menu-authorize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-menu-link-enter {
    position: relative;
    margin-left: 17px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
    text-decoration: underline;
}

.user-menu-link-enter::before {
    content: "";
    position: absolute;
    top: 8px;
    right: -18px;
    height: 4px;
    width: 4px;
    background-color: #32425c;
    border-radius: 50%;
}

.user-menu-item:last-child .user-menu-link-enter::before {
    content: none;
}

.user-menu-link-enter:hover,
.user-menu-link-enter:focus {
    color: #ee3643;
}

.user-menu-link-enter:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #ffffff;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-link {
    display: block;
    padding-top: 20px;
    padding-right: 33px;
    padding-bottom: 18px;
    padding-left: 28px;
    color: #ffffff;
    background-color: #32425c;
}

.navigation-link:hover,
.navigation-link:focus {
    background-color: #293449;
}

.navigation-link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    width: 357px;
    list-style: none;
    font-family: "PTSans", Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.breadcrumbs-link {
    position: relative;
    display: block;
    padding-left: 0;
    padding-right: 40px;
    color: #000000;
}

.breadcrumbs-link::after {
    content: url("../img/icon-right-small.svg");
    position: absolute;
    top: 2px;
    right: 19px;
}

.bredcrumbs-item:last-child .breadcrumbs-link::after {
    content: none;
}

.breadcrumb-home {
    fill: #c1c6ce;
}

.inner-title {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 32px;
    padding-right: 29px;
    padding-bottom: 28px;
    padding-left: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.filter {
    margin-right: 20px;
    font-family: "PTSans", Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.filter-title {
    margin: 0;
    margin-bottom: 11px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 19px;
    width: 220px;
    font-size: 13px;
    line-height: 18px;
    background-color: #f7f3ec;
    font-weight: 400;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-form {
    width: 220px;
}

.filter .filter-range {
    border: none;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.filter .range {
    padding: 39px 20px;
    margin-bottom: 9px;
}

.filter .range,
.filter .price {
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter .range-line {
    position: relative;
    height: 2px;
    width: 180px;
    background-color: #d7dcde;
}

.filter .range-value {
    position: absolute;
    top: 0;
    left: 17px;
    height: 2px;
    width: 75%;
    background-color: #00ca74;
}

.filter .range-button {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 22px;
    padding: 0;
    background-color: transparent;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}

.filter .range-button-left {
    left: 0
}

.filter .range-button-right {
    right: 20px;
}

.filter .filter-choice {
    border: none;
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
}

.filter .radio-wrapper {
    margin-bottom: 52px;
}

.filter-choice ul {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    list-style: none;
}

.filter-choice ul {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    list-style: none;
}

.filter-choice li {
    margin-bottom: 19px;
}

.filter fieldset:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
}

.filter legend {
    margin-bottom: 14px;
    font-family: "PTSansBold", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
}

.filter .range-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 18px;
}

.filter .price {
    display: block;
    padding: 10px;
    text-align: center;
    width: 95px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.filter-label {
    position: relative;
    display: block;
    padding-left: 34px;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.filter-checkbox+.filter-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.filter-checkbox:checked+.filter-label::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.8;
}

.filter-checkbox:not(:disabled)+.filter-label:hover::before {
    opacity: 1;
}

.filter-checkbox:disabled+.filter-label {
    opacity: 0.3;
}

.filter-checkbox:disabled+.filter-label::before {
    opacity: 0.3;
}


.filter-radio+.filter-label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 4px solid #b5b5b5;
    border-radius: 50%;
    opacity: 0.8;
}

.filter-radio:checked+.filter-label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 9px;
    height: 9px;
    background-color: #b5b5b5;
    border-radius: 50%;
    opacity: 0.8;
}


.filter-radio:not(:disabled)+.filter-label:hover::after,
.filter-radio:not(:disabled)+.filter-label:hover::before {
    opacity: 1;
}

.filter-radio:disabled+.filter-label::before,
.filter-radio:disabled+.filter-label::after {
    opacity: 0.3;
}

.filter-radio:disabled+.filter-label {
    opacity: 0.3;
}

.filter .btn-white {
    padding-top: 10px;
    padding-left: 37px;
    padding-bottom: 8px;
    width: 140px;
    font-size: 13px;
    border: 1px solid #e5e5e5;
}

.filter-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-top: 8px;
    padding-right: 17px;
    padding-bottom: 10px;
    padding-left: 18px;
    font-family: "PTSans", Arial, sans-serif;
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.filter-sort-title {
    margin: 0;
    margin-right: 141px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.filter-sort .sort-control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    margin-right: 45px;
    padding: 0;
    width: 355px;
    list-style: none;
}

.filter-sort .sort-control.toggle {
    width: 43px;
    margin-right: 0;
}

.filter-sort .sort-link {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.filter-sort .sort-link-activate {
    color: #ee3643;
    border-bottom-color: transparent;
}

.filter-sort .sort-link:not(.sort-link-activate):hover,
.filter-sort .sort-link:not(.sort-link-activate):focus {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-button {
    display: block;
}

.sort-button .sort-arrow {
    fill: #c5c5c5;
}

.sort-button.active .sort-arrow {
    fill: #ee3643;
}

.sort-button:hover .sort-arrow,
.sort-button:focus .sort-arrow {
    fill: #231f20;
}

.sort-button .sort-arrow-up {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.banners {
    margin-bottom: 53px;
}

.banners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.banners-list:not(.column) {
    margin-bottom: 20px;
}

.banners-list.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.banner-stroke {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.banner {
    position: relative;
    padding-top: 21px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 21px;
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: top 50% right 30px;
}

.banner.new::before {
    content: url("../img/new-flag.png");
    position: absolute;
    top: 0;
    right: 0;
}

.banners-list .banner.yellow {
    background-color: #ffbf47;
}

.banners-list .banner.blue {
    background-color: #3bbce3;
}

.banners-list .banner.violet {
    background-color: #dc91d8;
}

.banners-list .banner.green {
    background-color: #8ed78f;
}

.banner.materials {
    background-image: url("../img/icon-1.svg");
    background-position: top 50% right 42px;
}

.banner.tools {
    background-image: url("../img/icon-2.svg");
}

.banner.technic {
    background-image: url("../img/icon-3.svg");
}

.banner.sale {
    background-image: url("../img/icon-4.svg");
    background-position: top 50% right 45px;
}

.banner.delivery {
    background-image: url("../img/icon-5.svg");
}

.banners-list .banner-title {
    margin: 0;
    margin-bottom: 13px;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    font-family: "CuprumBold", Arial, sans-serif;
    font-weight: 600;
}

.banner-btn {
    padding: 10px 22px;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-btn:hover,
.banner-btn:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.banners-slider {
    position: relative;
}

.banners-slider .slide {
    display: none;
    width: 620px;
    min-height: 266px;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 22px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.banners-slider .slide.active {
    display: block;
}

.slide-title {
    margin: 0;
    margin-bottom: 2px;
    font-family: "CuprumBold", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.slide-subtitle {
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.slide-1 {
    background-color: #7d6e5e;
    background-image: url("../img/slide-1.jpg");
}

.slide-2 {
    background-color: #563d36;
    background-image: url("../img/slide-2.jpg");
}

.slide-btn {
    position: absolute;
    left: 25px;
    bottom: 22px;
    padding-top: 11px;
    padding-right: 47px;
    padding-bottom: 9px;
    padding-left: 49px
}

.slide-toggle {
    position: absolute;
    top: 51%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: none;
}

.slide-toggle.back {
    left: 18px;
}

.slide-toggle.next {
    right: 13px;
    -webkit-transform: translateY(-50%) scale(-1, 1);
    -ms-transform: translateY(-50%) scale(-1, 1);
    transform: translateY(-50%) scale(-1, 1);
}

.slide-toggle .toggle {
    fill: #ffffff;
}

.slide-controls-wrapper {
    position: absolute;
    left: 50%;
    width: 30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slide-controls {
    position: absolute;
    bottom: 35px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.slide-controls:first-child {
    left: 0;
}

.slide-controls:last-child {
    right: 0;
}

.slide-controls.active::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    background-color: #ee3643;
    border-radius: 50%;
}

.title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 26px;
    padding-right: 24px;
    padding-bottom: 25px;
    padding-left: 28px;
    background-color: #f9f5f0;
}

.bg-title {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.title-wrapper .btn {
    width: 253px;
}

.catalog {
    margin-bottom: 31px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.right-column-wrapper .catalog-list {
    width: 700px;
}

.catalog-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item {
    position: relative;
    width: 218px;
    margin-bottom: 20px;
    font-family: "PTSansBold", Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border: 2px solid #eaeaea;
}


.catalog-item.new::before {
    content: url("../img/new-flag.png");
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 10;
}

.catalog-item:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-img-wrapper {
    margin-bottom: 5px;
}

.catalog-link-buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #ffffff;
    z-index: 9;
}

.catalog-item:hover .catalog-link-buttons {
    display: block;
}

.catalog-item-name {
    margin: 0;
    margin-bottom: 11px;
    padding: 0 25px;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.btn-price {
    display: block;
    position: relative;
    width: 122px;
    margin: 10px 0;
    margin-left: 41px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 16px;
    letter-spacing: 0.5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-price::after {
    content: "";
    position: absolute;
    top: 0;
    right: -38px;
    width: 0;
    height: 0;
    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}

.catalog-link-btn {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 11px;
    padding: 7px 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    border: 3px solid transparent;
    text-align: center;
}

.catalog-link-buy {
    margin-top: 2px;
    color: #ffffff;
    background-color: #63a63e;
    border-bottom: none;
    -webkit-box-shadow: 0 3px 0 0 #367315;
    box-shadow: 0 3px 0 0 #367315;
}

.catalog-link-buy:hover,
.catalog-link-buy:focus {
    background-color: #5fbb2d;
}

.catalog-link-buy:active {
    background-color: #518534;
    -webkit-box-shadow: 0 3px 0 0 #518534;
    box-shadow: 0 3px 0 0 #518534;
}

.catalog-link-mark {
    color: #32425c;
    background-color: transparent;
    border-color: #63a63e;
}

.catalog-link-mark:hover,
.catalog-link-mark:focus {
    border-color: #32425c;
}

.catalog-link-mark:active {
    opacity: 0.3;
}

.popular-manufacturers {
    margin-bottom: 65px;
}

.manufacturers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.manufacturers-item {
    margin-bottom: 20px;
}

.manufacturers-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 217px;
    height: 141px;
    border: 2px solid #eaeaea;
}

.manufacturers-item a:hover,
.manufacturers-item a:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item a:active {
    border-color: transparent;
    -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.manufacturers-item img {
    position: relative;
}

.manufacturers-item.makita img {
    top: -4px;
}

.manufacturers-item.dewalt img {
    top: -3px;
}

.manufacturers-item.interskol img {
    top: -8px;
}

.manufacturers-item.hitachi img {
    top: 2px;
}

.manufacturers-item.aeg img {
    top: -2px;
}

.manufacturers-item.metabo img {
    top: -4px;
    left: 2px;
}

.services {
    margin-bottom: 79px;
    padding-top: 65px;
    background-color: #f4f8f9;
}

.services-text-block {
    width: 400px;
    margin-bottom: 69px;
}

.title {
    margin: 0;
    margin-bottom: 26px;
    color: #000000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.description {
    margin: 0;
    margin-bottom: 30px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.services-controls-list {
    position: relative;
    min-width: 240px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    list-style: none;
    color: #ffffff;
    background-color: #32425c;
}

.services-controls-list::after {
    content: url("../img/shadow.png");
    position: absolute;
    top: -35px;
    right: 0;
}

.services-controls-list .services-controls-link {
    display: block;
    width: 240px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 22px;
    font-family: "CuprumBold", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    color: #ffffff;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.services-controls-list .services-controls-link.current {
    color: #32425c;
    background-color: #ffffff;
    border-color: transparent;
}

.services-controls-list .services-controls-link:not(.current):hover,
.services-controls-list .services-controls-link:not(.current):focus {
    border-color: transparent;
    background-color: #293449;
}

.services-slider {
    width: 100%;
}

.service-slide {
    display: none;
    min-height: 255px;
    background-repeat: no-repeat;
    background-position: top 24px right;
}

.service-slide.current {
    display: block;
}

.service-slide-1 {
    background-image: url("../img/delivery.png");
}

.service-slide-2 {
    background-image: url("../img/guaranty.png");
}

.service-slide-3 {
    background-image: url("../img/credit.png");
}

.service-slide-title {
    margin: 0;
    margin-top: -1px;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
}

.service-slide .description {
    width: 275px;
}

.about-company {
    margin-bottom: 86px;
}

.about-company-item {
    width: 540px;
}

.about-company-item.contacts {
    width: 300px;
}

.about-company-item:not(:last-child) {
    margin-right: 118px;
}

.about-company .description {
    margin-bottom: 23px;
}

.about-description.special-width {
    width: 400px;
}

.contacts .description {
    margin-bottom: 31px;
    width: 200px;
}

.about-company-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.transport-company-list {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
    list-style: none;
}

.transport-company-item {
    position: relative;
    padding-left: 36px;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}

.transport-company-item::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.about-company .btn {
    padding-right: 39px;
    padding-left: 41px;
}

.transport-company-item:last-child {
    margin-bottom: 0;
}

.mini-map {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 36px;
}

.map-btn {
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.pagination-link,
.pagination-button {
    display: block;
    padding: 9px 15px;
    color: #000000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: transparent;
}

.pagination-button {
    padding: 9px 15px;
    width: 108px;
    text-align: center;
}

.pagination-link:not(.pagination-button) {
    margin-right: 9px;
}

.pagination-link.current {
    color: #ffffff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.pagination-link:not(.current):hover,
.pagination-link:not(.current):focus,
.pagination-button:hover,
.pagination-button:focus {
    border-color: #bdc6ca;
}

.pagination-link:not(.current):active,
.pagination-button:active {
    border-color: #ee3643;
}

.seo-block {
    padding-top: 65px;
    padding-bottom: 38px;
    background-color: #f2f6f8;
}


.footer {
    /*margin-top: 86px;*/
    background-color: #32425c;
}

.top-footer {
    margin-bottom: 50px;
}

.footer-stroke {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 27px;
}

.footer-stroke:last-child {
    margin-bottom: 50px;
}

.footer-logo {
    width: 220px;
    height: 68px;
}

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 548px;
    margin: 0;
    margin-top: 38px;
    padding: 0;
    list-style: none;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 525px;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-navigation .footer-navigation-link {
    color: #f1f5f7;
}

.footer-catalog-link {
    color: #ffd180;
}

.top-footer a:not(.footer-phone):hover,
.top-footer a:not(.footer-phone):focus {
    text-decoration: underline;
}

.top-footer a:not(.footer-phone):not(.footer-logo):active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-address {
    margin: 0;
    margin-left: 3px;
    width: 330px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f3f7f9;
}

.footer-address a {
    color: #f1f5f7;
}

.bottom-footer {
    padding-top: 35px;
    padding-bottom: 31px;
    background-color: #293449;
}

.bottom-footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*justify-content: space-between;*/
}

.copyright {
    margin: 0;
    margin-right: 150px;
    width: 240px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 135px;
    margin: 0;
    margin-right: 116px;
    padding: 0;
    list-style: none;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 41px;
    height: 41px;
    color: #ffffff;
    background-color: #212a3a;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.social-icon {
    fill: #ffffff;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
    background-color: #ee3643;
}

.feedback-text {
    margin: 0;
    width: 140px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.feedback-text:last-child {
    width: 111px;
    margin-left: auto;
}

.feedback-link {
    color: #ffd180;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.feedback-link:hover,
.feedback-link:focus {
    text-decoration: underline;
}

.feedback-link:active {
    color: #ee3643;
    text-decoration: none;
}

.popup {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px 2px rgba(47, 42, 43, 0.5);
    box-shadow: 0 0 15px 2px rgba(47, 42, 43, 0.5);
    z-index: 10;
}

.feedback-popup,
.basket-popup {
    border-top: 8px solid #ff5358;
}

.feedback-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    border: none;
    background: none;
}

.btn-close::before,
.btn-close::after {
    top: 9px;
    left: -2px;
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #ee3643;
}

.btn-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-right: 80px;
    padding-bottom: 37px;
    padding-left: 80px;
}

.feedback-popup .input-wrapper {
    margin: 0;
    margin-bottom: 13px;
}

.feedback-popup .input-wrapper:first-child {
    margin-right: 20px;
}

.feedback-popup .input-wrapper:last-child {
    margin: 0;
}

.feedback-popup .textarea-wrapper {
    width: 100%;
}

.feedback-popup .form-label {
    display: block;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.feedback-popup .form-input,
.feedback-popup .feedback-message {
    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
    background-color: transparent;
    border: 2px solid #dee3e4;
    border-radius: 3px;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-popup .form-input {
    width: 220px;
}

.feedback-popup .feedback-message {
    width: 100%;
    min-height: 114px;
}

.feedback-popup .form-input:hover,
.feedback-popup .feedback-message:hover {
    color: #999999;
    border-color: #999999;
}

.feedback-popup .form-input:focus,
.feedback-popup .feedback-message:focus {
    outline: none;
    color: #999999;
    border-color: #ff5358;
}

.popup .popup-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 37px 80px;
    background-color: #f1f1f1;
}

.popup-footer .btn {
    width: 100%;
}

.popup-title {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    padding-left: 100px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: none;
}

.popup-title::before {
    content: url("../img/form-1.svg");
    position: absolute;
    left: 0;
    top: -20px;
}

.btn-white {
    color: #000000;
    background-color: #ffffff;
}

.btn-white:hover,
.btn-white:focus
.btn-white:active {
    color: #000000;
    background-color: #ffffff;
}

.map-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 940px;
}

.basket-popup  {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 620px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.basket-popup .popup-content-wrapper {
    padding-top: 69px;
    padding-bottom: 0;
}

.basket-popup  .btn {
    width: 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 15px;
}

.basket-popup  .btn:last-child {
    margin-right: 0;
}